extends layout

block content
	.timeline-container(ng-controller="TimelineCtrl")
		.logoHeader
			a(href="/")
				img(src="/images/alghayma-logo.png", width="400")
		br
		- if (posts && feed)
			h4#feedDescription #{feedDescription}
			div#postList.timeline-container
				ol.timeline.clearfix
					- each post in posts
						li.post
							i.pointer
							div.unit
								div.storyUnit
									div.imageUnit
										img(src="#{feed.profileImage}")
										div.imageUnit-content
											p
												a(href="#{post.permalink}") #{post.postDate}
									- if (post.postText)
										.message #{post.postText}
										if (post.story && post.postText != post.story)
											.message #{post.story}
									- else
										.message #{post.story}
									-if (post.picture)
										img.postPicture(src="#{post.picture}")
									-if (post.storyLink)
										.link
											a(href="#{post.storyLink}") Story link
			div#theEndBanner The Start
			div#infiniteScrollTrigger
				span#downIcon &#8595; More
				img#ajaxLoaderGif(src="/images/ajax-loader.gif", style="display: none")

			script.
				var feedId = #{feed.id};
				console.log(feedId);
				var dateStr = '#{feed.lastBackup}';
				if (typeof dateStr != 'undefined'){
					var feedDescriptionItem = document.getElementById('feedDescription');
					feedDescriptionItem.textContent = feedDescriptionItem.textContent.replace('{[lastBackupDate]}', formatDate(new Date(dateStr)));
				}
				var profileImage = '#{feed.profileImage}';
				//Reformating dates according to computer's locale
				function formatDate(date) { return 'on ' + date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear() + ', at ' + date.getHours() + ':' + (date.getMinutes().toString().length == 1 ? '0' + date.getMinutes().toString() : date.getMinutes());} //That last part prevents from getting timestamps such as 15:0
				var postHeaders = document.getElementsByClassName('imageUnit-content');
				for (var i = 0; i < postHeaders.length; i++){
					postHeaders[i].children[0].children[0].textContent = formatDate(new Date(postHeaders[i].textContent));
				}
				//Getting a permalink from a postid
				function permalink(postId){
					var postIdParts = postId.split('_');
					return 'https://facebook.com/' + postIdParts[0] + '/posts/' + postIdParts[1];
				}
				//Giving in-page post IDs
				var nextIdNumber = 0;
				function giveIDs(){
					var postsElems = document.getElementsByTagName('li');
					for (var i = 0; i < postsElems.length; i++){
						if (!postsElems[i].id){
							//Check that it's a timeline element
							var classNames = postsElems[i].className.split(' ');
							var isPost = postsElems[i].classList.contains('post');
							//If it's not a timeline element, go to the next "li" tagged element
							if (!isPost) continue;
							//Otherwise, give him an ID
							postsElems[i].id = 'post' + nextIdNumber;
							nextIdNumber++;
						}
					}
				}
				giveIDs();
				//"Layout balancing"
				function balance(){
					function getSide(elem){
						if (elem.classList.contains('right')) return 'r';
						if (elem.classList.contains('left')) return 'l';
						return undefined;
					}
					var leftColumnSize = 0, rightColumnSize = 0;
					var LiElements = document.getElementsByTagName('li');
					var unassignedElements = [];
					for (var i = 0; i < LiElements.length; i++){
						if (!LiElements[i].classList.contains('post')) continue;
						var elemSide = getSide(LiElements[i]);
						if (typeof elemSide == 'undefined'){
							unassignedElements.push(LiElements[i]);
							continue;
						}
						if (elemSide == 'r'){
							rightColumnSize += LiElements[i].offsetHeight;
							LiElements[i].classList.remove('right');
							continue;
						}
						if (elemSide == 'l'){
							leftColumnSize += LiElements[i].offsetHeight;
							LiElements[i].classList.remove('left');
						}
					}
					var newLeftHeight = 0;
					var newRightHeight = 0;
					for (var i = 0; i < LiElements.length; i++){
						if (!LiElements[i].classList.contains('post')) continue;
						if (newLeftHeight <= newRightHeight){
							LiElements[i].classList.add('left');
							newLeftHeight += LiElements[i].offsetHeight;
						} else {
							LiElements[i].classList.add('right');
							newRightHeight += LiElements[i].offsetHeight;
						}
					}
				}
				balance();
				//Dynamic post loading. For inifinite scrolling
				var loadChunk = function(offset, callback){
					var req = new XMLHttpRequest();
					console.log(offset);
					req.open('get', '/fb/chunk?feedId=' + feedId + '&offset=' + offset, true);
					req.onload = function(){
						if (this.status == 200){
							var posts = JSON.parse(this.response);
							if (!Array.isArray(posts) || posts.length == 0){
								$('#infiniteScrollTrigger').css('display', 'none');
								$('#theEndBanner').css('display', 'block');
								return;
							}
							for (var i = 0; i < posts.length; i++){
								//Creating the post element
								var newPostElement = document.createElement('li');
								newPostElement.className = 'post'
								//Pointer (little arrow) directing to the "timeline"
								var pointer = document.createElement('i');
								pointer.className = 'pointer';
								newPostElement.appendChild(pointer);
								//Unit
								var unit = document.createElement('div');
								unit.className = 'unit';
								newPostElement.appendChild(unit);
								//Storyunit (inside Unit)
								var storyunit = document.createElement('div');
								storyunit.className = 'storyUnit';
								unit.appendChild(storyunit);
								//Image header
								var imageunit = document.createElement('div');
								imageunit.className = 'imageUnit';
								storyunit.appendChild(imageunit);
								//Profile image
								var profileImg = document.createElement('img');
								profileImg.src = profileImage;
								imageunit.appendChild(profileImg);
								//Append post date
								var imageunit_content = document.createElement('div');
								imageunit_content.className = 'imageUnit-content';
								imageunit.appendChild(imageunit_content);
								//Adding permalink (inside a paragraph)
								var permalinkParaElem = document.createElement('p');
								var permalinkElem = document.createElement('a');
								permalinkElem.href = posts[i].permalink;
								permalinkElem.textContent = formatDate(new Date(posts[i].postDate));
								permalinkParaElem.appendChild(permalinkElem);
								imageunit_content.appendChild(permalinkParaElem);
								if (posts[i].postText){
									var messageDiv = document.createElement('div');
									messageDiv.className = 'message';
									messageDiv.textContent = posts[i].postText;
									storyunit.appendChild(messageDiv);
									if (posts[i].story && posts[i].story != posts[i].textContent){
										var storyDiv = document.createElement('div');
										storyDiv.className = 'message';
										storyDiv.textContent = posts[i].story;
										storyunit.appendChild(storyDiv);
									}
								} else {
									var storyDiv = document.createElement('div');
									storyDiv.className = 'message';
									storyDiv.textContent = posts[i].story;
									storyunit.appendChild(storyDiv);
								}
								//Adding the post's picture, if any
								if (posts[i].picture){
									var postImage = document.createElement('img');
									postImage.className = 'postPicture';
									postImage.src = posts[i].picture;
									storyunit.appendChild(postImage);
								}
								//Adding the story link, if any
								if (posts[i].storyLink){
									var storyLinkContainer = document.createElement('div');
									storyLinkContainer.className = 'link';
									var storyLinkElem = document.createElement('a');
									storyLinkElem.href = posts[i].storyLink;
									storyLinkElem.textContent = 'Story link';
									storyLinkContainer.appendChild(storyLinkElem);
									storyunit.appendChild(storyLinkContainer);
								}
								document.getElementsByTagName('ol')[0].appendChild(newPostElement);
							}
						} else {
							//alert('');
						}
						setTimeout(balance, 50); //Giving the browser some time to render all the posts. Might trigger a buffer overflow in IE :p
						if (callback && typeof callback == 'function') callback();
					};
					req.send();
				}
				var offsetCounter = 0;
				var loadingStuff = false;
				var triggerHandler = function(){
					if (!loadingStuff){
						loadingStuff = true;
						$('#downIcon').css('display', 'none');
						$('#ajaxLoaderGif').css('display', 'inline');
						offsetCounter++;
						loadChunk(offsetCounter, function(){
							$('#ajaxLoaderGif').css('display', 'none');
							$('#downIcon').css('display', 'block');
							loadingStuff = false;
						});
					}
				};
				$(infiniteScrollTrigger).mouseenter(triggerHandler);
				infiniteScrollTrigger.onmouseclick = triggerHandler;

				var $window = $(window);

				// Triggers the infinite scroll if at the bottom of the page
				$window.scroll(function(e){
					if(($window.height() + $window.scrollTop()) === $(document).height()){
						triggerHandler();
					}
				});
		- else
			div.message-box
				h4#header This feed isn't backed up by Alghayma
				br
				button.button-blue#backItUp Back it up !
				br
				br
				div#messagePanel
			script.
				function getSearchKey(keyName){
					return decodeURI(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURI(keyName).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
				}
				backItUp.onclick = function(){
					var fData = new FormData();
					var targetFeed = decodeURIComponent(getSearchKey('sourceUrl'));
					console.log('sourceUrl : ' + targetFeed);
					fData.append('sourceUrl', decodeURI(getSearchKey('sourceUrl')));
					var ajaxReq = new XMLHttpRequest();
					ajaxReq.open('post', '/fb/backup/', true);
					ajaxReq.setRequestHeader('enctype', 'application/x-www-form-urlencoded');
					ajaxReq.onload = function(){
						document.getElementById('messagePanel').textContent = '';
						var panelHeading = document.createElement('div');
						var panelBody = document.createElement('div');
						if (this.status == 200){
							//Request success
							$('#messagePanel').addClass('panel panel-success');
							panelHeading.textContent = 'Cool :)';
							panelHeading.className = 'panel-heading';
							panelBody.textContent = this.response;
							panelBody.className = 'panel-body';
							$('#messagePanel').append(panelHeading, panelBody);
						} else {
							//An error occured
							$('#messagePanel').addClass('panel panel-danger');
							panelHeading.textContent = 'Sorry, an error occured';
							panelHeading.className = 'panel-heading';
							panelBody.textContent = this.response;
							panelBody.className = 'panel-body';
							$('#messagePanel').append(panelHeading, panelBody);
						}
						$('#backItUp').css('display: none');
						$('#header').css('display: none');
						$('#messagePanel').append('<p id="redirectP">Redirecting to Alghayma homepage in 5 seconds. If it doesn\'t, click <a href="/">here</a>.</p>');
						var intervalCount = 0;
						setInterval(function(){
							intervalCount++;
							$('#redirectP').html('Redirecting to Alghayma homepage in ' + (5 - intervalCount).toString() + ' seconds. If it doesn\'t, click <a href="/">here</a>.');
							if (intervalCount == 5) window.history.back();
						}, 1000);
					};
					ajaxReq.send(fData);
				};
