extends layout

block content
	h1 Alghayma | الغيمة
	br
	- if (posts && feed)
		h4 Here is what we have for #{feed.name} :
		div#postList.container
			ol.timeline.clearfix
				- each post in posts
					li.left
						i.pointer
						div.unit
							div.storyUnit
								div.imageUnit
									img(src="#{feed.profileImage}")
									div.imageUnit-content
										p #{post.postDate}
								- if (post.postText)
									.message #{post.postText}
									if (post.story && post.postText != post.story)
										.message #{post.story}
								- else
									.message #{post.story}
								-if (post.picture)
									img.postPicture(src="#{post.picture}")
								.link
									a(href="#{post.storyLink}") Story link
		div#infiniteScrollTrigger
			span#downIcon.glyphicon.glyphicon-arrow-down
			img#ajaxLoaderGif(src="/images/ajax-loader.gif", style="display: none")
		script.
			var feedId = #{feed.id};
			var loadChunk = function(offset, callback){
				var req = new XMLHttpRequest();
				req.open('get', '/fb/chunk?feedId=' + feedId + '&offset=' + offset, true);
				req.onload = function(){
					if (this.status == 200){
						var posts = JSON.parse(this.response);
						if (!Array.isArray(posts)){
							//alert('An error occured');
							return;
						}
						for (var i = 0; i < posts.length; i++){
							var newPostElement = document.createElement('div');
							newPostElement.className = 'post'
							if (posts[i].postText){
								var messageDiv = document.createElement('div');
								messageDiv.className = 'message';
								messageDiv.textContent = posts[i].postText;
								if (posts[i].story && posts[i].story != posts[i].textContent){
									var storyDiv = document.createElement('div');
									storyDiv.className = 'message';
									storyDiv.textContent = posts[i].story;
								}
							} else {

							}
						}
					} else {
						//alert('');
					}
					if (callback && typeof callback == 'function') callback();
				};
				req.send();
			}
			var offsetCounter = 0;
			var loadingStuff = false;
			infiniteScrollTrigger.onmouseenter = function(){
				if (!loadingStuff){
					loadingStuff = true;
					$('#downIcon').css('display: none');
					$('#ajaxLoaderGif').css('display: block');
					offsetCounter++;
					loadChunk(offsetCounter, function(){
						$('#ajaxLoaderGif').css('display: none');
						$('#downIcon').css('display: block');
						loadingStuff = false;
					});
				}
			};
	- else
		div(style='text-align: center')
			h4#header This feed isn't backed up by Alghayma
			br
			button#backItUp.btn.btn-primary Back it up !
			br
			br
			div#messagePanel
		script.
			function getSearchKey(keyName){
				return decodeURI(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURI(keyName).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
			}
			backItUp.onclick = function(){
				var fData = new FormData();
				var targetFeed = decodeURIComponent(getSearchKey('sourceUrl'));
				console.log('sourceUrl : ' + targetFeed);
				fData.append('sourceUrl', decodeURI(getSearchKey('sourceUrl')));
				var ajaxReq = new XMLHttpRequest();
				ajaxReq.open('post', '/fb/backup/', true);
				ajaxReq.setRequestHeader('enctype', 'application/x-www-form-urlencoded');
				ajaxReq.onload = function(){
					document.getElementById('messagePanel').textContent = '';
					var panelHeading = document.createElement('div');
					var panelBody = document.createElement('div');
					if (this.status == 200){
						//Request success
						$('#messagePanel').addClass('panel panel-success');
						panelHeading.textContent = 'Cool :)';
						panelHeading.className = 'panel-heading';
						panelBody.textContent = this.response;
						panelBody.className = 'panel-body';
						$('#messagePanel').append(panelHeading, panelBody);
					} else {
						//An error occured
						$('#messagePanel').addClass('panel panel-danger');
						panelHeading.textContent = 'Sorry, an error occured';
						panelHeading.className = 'panel-heading';
						panelBody.textContent = this.response;
						panelBody.className = 'panel-body';
						$('#messagePanel').append(panelHeading, panelBody);
					}
					$('#backItUp').css('display: none');
					$('#header').css('display: none');
					$('#messagePanel').append('<p id="redirectP">Redirecting to Alghayma homepage in 5 seconds. If it doesn\'t, click <a href="http://localhost:3000">here</a>.</p>');
					
				};
				ajaxReq.send(fData);
			};
